<div class="row">
    <img src="{{imgFilePath}}" class="item-image">
    <div class="content">
        <h1>{{name}}</h1>
    </div>
    <div class="price">
        <label>{{price}}</label>
    </div>
    <img src="{{expandImage}}" class="expand-collapse">
</div>
<div class="row">
    <div class="description">{{description}}</div>
    <div class="buy-container">
        <a class="buy">
            <img src="{{buyImage}}">
        </a>
    </div>
</div>
