<div class="header">
    <div class="back">
        <img src="{{pages.menu.leave}}">
    </div>
    <div class="title-container">
        <img class="title-image" src="{{pages.menu.title}}" alt="Title Image">
    </div>
    <div class="balance-container">
        <img class="balance-image" src="{{pages.menu.balance}}" alt="Balance Image">
        {{#each currencies}}
        <label>{{this.balance}}</label>
        {{/each}}
    </div>
</div>
<div id="goods-store" data-role="page">

    <div class="pages">
       <div class="menu">

       </div>
        <div class="categories"></div>

    </div>
</div>
<div id="currency-store" data-role="page">
    <img src="{{pages.currencyPacks.background}}" class="background">
    <!--<div class="header" style="background-image: url('{{pages.currencyPacks.headerBackground}}');">-->
        <div class="title">
            <img src="{{pages.currencyPacks.title}}">
        </div>
        <div class="balance-container">
            <div class="balance">
                <img src="{{pages.currencyPacks.balance}}">
                {{#each currencies}}
                <div class="container">
                    <label>{{this.balance}}</label>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="items-container" style="background-image: url('{{pages.currencyPacks.list.background}}');">
    </div>
    <div class="footer">
        <div>
            <img src="{{pages.currencyPacks.backButton}}" class="back">
        </div>
    </div>

</div>
