<img src="{{background}}" class="background">
<div class="main-container">
    <div class="header" style="background-image: url('{{headerBackground}}');">
        <div class="back">
            <img src="{{images.quitImage}}">
        </div>
        <div class="title-container">
            <img class="title-image" src="{{pages.menu.title}}" alt="Title Image">
        </div>
        <div class="balance-container">
            <img class="balance-image" src="{{pages.menu.balance}}" alt="Balance Image">
            <div class="label-container" style="{{balance.style}}">
                {{#each currencies}}
                <label>{{this.balance}}</label>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="pages">
        <div class="menu">

        </div>

    </div>
</div>
