<img src="{{imgFilePath}}" class="visual">
<div class="price">
    <h1 style="{{nameStyle}}">{{name}}</h1>
    <h2 style="{{priceStyle}}">{{price}}$</h2>
</div>
<img src="{{itemSeparator}}" class="separator">
