<div id="goods-store" data-role="page">
    <img src="{{background}}" class="background">
    <img src="{{contentBackground}}" class="content-background">

    <div class="header">
        <img class="title-image" src="{{common.titleImage}}">
        <div class="balance-container">
            <img class="balance-image" src="{{common.balanceImage}}" alt="Balance Image">
            <div class="label-container" style="{{balance.style}}">
                {{#each currencies}}
                <label>{{this.balance}}</label>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="items-container" style="background-image: url('{{pages.goods.list.background}}');">
    </div>
    <div class="footer">
        <img src="{{common.moreCurrencyButton}}" class="currency buy-more">
        <img src="{{common.backButton}}" class="leave-store">
    </div>
</div>
<div id="currency-store" data-role="page">
    <img src="{{background}}" class="background">
    <img src="{{contentBackground}}" class="content-background">

    <div class="header">
        <img class="title-image" src="{{common.titleImage}}">
        <div class="balance-container">
            <img class="balance-image" src="{{common.balanceImage}}" alt="Balance Image">
            <div class="label-container" style="{{balance.style}}">
                {{#each currencies}}
                <label>{{this.balance}}</label>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="items-container" style="background-image: url('{{pages.currencyPacks.list.background}}');">
    </div>
    <div class="footer">
        <img src="{{common.backButton}}" class="back">
    </div>
</div>
