<div class="modal">
    <div class="dialog">
        <img src="{{closeIcon}}" class="close">
        <h3>{{text}}</h3>
        <h4>{{question}}?</h4>
        <button class="cancel btn btn-large">{{noButtonText}}</button>
        <button class="buy-more btn btn-large btn-basic-primary">{{yesButtonText}}</button>
    </div>
</div>
