<div class="visual">
    <img src="{{src}}">
</div>
<div class="content">
    <h1>{{name}}</h1>
    <div class="description">{{description}}</div>
    <div class="box-horizontal">
        <div class="balance">Owned: <label>{{balance}}</label></div>
        <div class="price">{{price}} <img src="{{currency.image}}" class="currency"></div>
    </div>
</div>
