<div id="goods-store" data-role="page">
    <img src="{{background}}" class="background">
    <div class="header">
        <div class="padding left">
            <span class="balance">
                {{#if currency.image}}
                <img src="{{currency.image}}">
                {{/if}}
                <label>{{currency.balance}}</label>
            </span>
        </div>
        <div class="content">
            <h1 class="title">
                {{templateTitle}}
            </h1>
        </div>
        <div class="padding right">
            <div class="leave-store" title="Close"></div>
        </div>
    </div>
    <div class="items-container">
        <ul class="items"></ul>
    </div>
    <div class="footer">
        <button class="buy-more btn btn-basic-primary">
            <h1><img src="{{moreCurrencyImage}}" class="currency">{{moreCurrencyText}}</h1>
        </button>
    </div>
</div>
<div id="currency-store" data-role="page">
    <img src="{{background}}" class="background">
    <div class="header">
        <div class="padding left">
            <span class="balance">
                {{#if currency.image}}
                <img src="{{currency.image}}">
                {{/if}}
                <label>{{currency.balance}}</label>
            </span>
        </div>
        <div class="content">
            <h1 class="title">
                {{templateTitle}}
            </h1>
        </div>
        <div class="padding right">
            <div class="back" title="Back"></div>
        </div>
    </div>
    <div class="items-container">
        <ul class="items"></ul>
    </div>
</div>
