<div class="visual">
    <img src="{{src}}">
</div>
<div class="content">
    <h1>{{name}}</h1>
    <div class="description">{{description}}</div>
    <span class="price">{{price}} <img src="{{currency.image}}" class="currency"></span>
</div>
