<div class="visual">
    <img src="{{src}}">
    <img src="{{currency.image}}" class="currency">
    <h2>{{amount}}</h2>
</div>
<h1 class="content">{{name}}</h1>
<div class="buy">
    <span class="price">{{price}}$</span>
</div>
