<img src="{{imgFilePath}}" class="visual">
<div class="content">
    <div class="row">
        <div class="balance" style="background-image: url('{{balanceBackground}}');">
            <label style="{{balanceLabelStyle}}">{{balance}}</label>
        </div>
        <div class="description">
            <label>{{description}}</label>
        </div>
    </div>
    <div class="row price">
        <img src="{{currency.imgFilePath}}" class="currency">
        <label>{{price}}</label>
    </div>
</div>
<img src="{{itemSeparator}}" class="separator">