<div id="goods-store" data-role="page">
    <img src="{{pages.goods.background}}" class="background">
    <div class="header">
        <div class="padding left">
            {{#each currencies}}
            <span class="balance">
                {{#if this.imgFilePath}}
                <img src="{{this.imgFilePath}}">
                {{/if}}
                <label>{{this.balance}}</label>
            </span>
            {{/each}}
        </div>
        <div class="content">
            <h1 class="title">
                {{pages.goods.title}}
            </h1>
        </div>
        <div class="padding right">
            <div class="leave-store" title="Close" style="background-image: url('{{pages.goods.leaveIcon}}');"></div>
        </div>
    </div>
    <div class="items-container">
        <ul class="items virtualGoods"></ul>
    </div>
    <div class="footer">
        <button class="buy-more btn btn-basic-primary">
            <h1><img src="{{pages.goods.moreCurrencyImage}}" class="currency">{{pages.goods.moreCurrencyText}}</h1>
        </button>
    </div>
</div>
<div id="currency-store" data-role="page">
    <img src="{{pages.currencyPacks.background}}" class="background">
    <div class="header">
        <div class="padding left">
            {{#each currencies}}
            <span class="balance">
                {{#if this.imgFilePath}}
                <img src="{{this.imgFilePath}}">
                {{/if}}
                {{this.balance}}
            </span>
            {{/each}}
        </div>
        <div class="content">
            <h1 class="title">
                {{pages.currencyPacks.title}}
            </h1>
        </div>
        <div class="padding right">
            <div class="back" title="Back" style="background-image: url('{{pages.currencyPacks.backIcon}}');"></div>
        </div>
    </div>
    <div class="items-container">
        <ul class="items currencyPacks"></ul>
    </div>
</div>